# Module 8 Assignment


A few things you should keep in mind when working on assignments:

1. Before you submit your assignment, make sure everything runs as expected. Go to the menubar, select Kernel, and Restart & Run all. 
2. Make sure that you save your work.
3. Upload your notebook to Compass.

-----


## Problem 1: Get Future Date

In the code cell below, we declare a function named `get_future_date` that takes two arguments:
- `current_date`, which is a datetime object, and 
- `days` which is an integer.   

The function will return the datetime object `days` after `current_date`.

To complete this problem do the following:
1. Import needed modules.
2. Define function `get_future_date(current_date, days)`:
 - Add `days` into `current_date`(Hint: use `timedelta`).
 - Return the new datetime object.
3. Test your function definition.
 - Define a datetime object, ie. d = datetime(2020, 5, 1)
 - Call the function. ie. get_future_date(d, 10). It should return a datetime object for 2020-5-11.

-----

In [1]:
# Your answer
from datetime import datetime, timedelta
def get_future_date(current_date, days):
    return current_date + timedelta(days=days)
get_future_date(datetime(2020, 5,1), 10)

datetime.datetime(2020, 5, 11, 0, 0)

-----

## Problem 2: Reading in Data

Load time series data.

To complete this problem, do the following:
1. Import needed modules.
2. Load data from the csv file `dow_jones_index.data` and save it to DataFrame `dow_df`.
3. Display the first 5 rows of `dow_df`.
-----

In [2]:
# Your answer
import pandas as pd
dow_df = pd.read_csv('dow_jones_index.data')
dow_df.head()

,quarter,stock,date,open,high,low,close,volume,percent_change_price,percent_change_volume_over_last_wk,previous_weeks_volume,next_weeks_open,next_weeks_close,percent_change_next_weeks_price,days_to_next_dividend,percent_return_next_dividend
0,1,AA,1/7/2011,15.82,16.72,15.78,16.42,239655616,3.79267,NaN,NaN,16.71,15.97,-4.428490,26,0.182704
1,1,AA,1/14/2011,16.71,16.71,15.64,15.97,242963398,-4.42849,1.380223,239655616.0,16.19,15.79,-2.470660,19,0.187852
2,1,AA,1/21/2011,16.19,16.38,15.60,15.79,138428495,-2.47066,-43.024959,242963398.0,15.87,16.13,1.638310,12,0.189994
3,1,AA,1/28/2011,15.87,16.63,15.82,16.13,151379173,1.63831,9.355500,138428495.0,16.18,17.14,5.933250,5,0.185989
4,1,AA,2/4/2011,16.18,17.39,16.18,17.14,154387761,5.93325,1.987452,151379173.0,17.33,17.37,0.230814,97,0.175029

-----

## Problem 3: Set Datetime Index


For this problem you will use `dow_df` created in Problem 1.

To solve this problem, do the following:
1. Convert the date column in `dow_df` from `object` type to `datetime` type by using the Pandas function `to_datetime`.
2. Create datetime index from date column using pandas `DatetimeIndex` function, and set it as the index of `dow_df`.
3. Display the first 5 rows of the new `dow_df`.

After this problem, dow_df has a datetime index.


------

In [3]:
# Your answer
dow_df.date = pd.to_datetime(dow_df.date)
dow_df.index = pd.DatetimeIndex(dow_df.date)
dow_df.head()

,quarter,stock,date,open,high,low,close,volume,percent_change_price,percent_change_volume_over_last_wk,previous_weeks_volume,next_weeks_open,next_weeks_close,percent_change_next_weeks_price,days_to_next_dividend,percent_return_next_dividend
date,,,,,,,,,,,,,,,,
2011-01-07,1,AA,2011-01-07,15.82,16.72,15.78,16.42,239655616,3.79267,NaN,NaN,16.71,15.97,-4.428490,26,0.182704
2011-01-14,1,AA,2011-01-14,16.71,16.71,15.64,15.97,242963398,-4.42849,1.380223,239655616.0,16.19,15.79,-2.470660,19,0.187852
2011-01-21,1,AA,2011-01-21,16.19,16.38,15.60,15.79,138428495,-2.47066,-43.024959,242963398.0,15.87,16.13,1.638310,12,0.189994
2011-01-28,1,AA,2011-01-28,15.87,16.63,15.82,16.13,151379173,1.63831,9.355500,138428495.0,16.18,17.14,5.933250,5,0.185989
2011-02-04,1,AA,2011-02-04,16.18,17.39,16.18,17.14,154387761,5.93325,1.987452,151379173.0,17.33,17.37,0.230814,97,0.175029

---

# Problem 4: Slice DataFrame

Slice June 2011 stock information for stock 'AA'.

For this problem you will use **dow_df** updated in Problem 2.

To solve this problem, do the following:
1. Use boolean mask to get rows of stock 'AA' from dow_df, assign the resulting DataFrame to aa_df.
2. Get all June 2011 data from aa_df and assign the resulting DataFrame to **aa_201106_df**.
3. Display random 2 rows in **aa_201106_df**

After this problem, there is a new variable **aa_201106_df** defined.

-----

In [4]:
# Your answer
aa_201106_df = dow_df[dow_df.stock=='AA']['2011-06']
aa_201106_df.sample(2)

<ipython-input-4-45c102deea55>:2: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  aa_201106_df = dow_df[dow_df.stock=='AA']['2011-06']

,quarter,stock,date,open,high,low,close,volume,percent_change_price,percent_change_volume_over_last_wk,previous_weeks_volume,next_weeks_open,next_weeks_close,percent_change_next_weeks_price,days_to_next_dividend,percent_return_next_dividend
date,,,,,,,,,,,,,,,,
2011-06-17,2,AA,2011-06-17,15.29,15.50,14.59,14.72,111273573,-3.72793,17.165880,94970970.0,14.67,15.23,3.81731,47,0.203804
2011-06-10,2,AA,2011-06-10,15.92,16.03,15.17,15.28,94970970,-4.02010,23.094985,77152591.0,15.29,14.72,-3.72793,54,0.196335

---

# Problem 5: Resample DataFrame

Resample stock 'AA'.

For this problem you will use **dow_df** updated in Problem 2.

To solve this problem, do the following:
1. Use boolean mask to get rows of stock `AA` from dow_df, assign the resulting DataFrame to aa_df.
2. Resample aa_df with month end frequency (Hint: with code 'M').
3. Apply mean() function on the Resampler object and assign the resulting DataFrame to **aa_resample**.
4. Display the first 5 rows of the resampled DataFrame.

-----

In [5]:
# Your answer
aa_resample = dow_df[dow_df.stock=='AA'].resample('M').mean()
aa_resample.head()

,quarter,open,high,low,close,volume,percent_change_price,percent_change_volume_over_last_wk,previous_weeks_volume,next_weeks_open,next_weeks_close,percent_change_next_weeks_price,days_to_next_dividend,percent_return_next_dividend
date,,,,,,,,,,,,,,
2011-01-31,1.0,16.1475,16.6100,15.7100,16.0775,1.931067e+08,-0.367042,-10.763079,2.070158e+08,16.2375,16.2575,0.168102,15.50,0.186635
2011-02-28,1.0,16.9700,17.4250,16.5975,17.1175,1.205212e+08,0.941184,3.056564,1.251205e+08,17.1275,16.9775,-0.884186,86.50,0.175302
2011-03-31,1.0,16.4300,16.8150,15.8100,16.4525,1.124375e+08,0.163050,-6.480814,1.217954e+08,16.5100,16.6750,1.001313,58.50,0.182463
2011-04-30,2.0,17.1820,17.7340,16.6720,17.1760,1.243372e+08,0.082150,8.929478,1.252809e+08,17.2100,17.1120,-0.453783,27.20,0.174797
2011-05-31,2.0,16.8475,17.3375,16.4175,16.7475,1.330505e+08,-0.534822,17.156958,1.364493e+08,16.7125,16.4400,-1.571510,57.75,0.179227