In [1]:
import pandas as pd

In [2]:
#https://medium.com/tensorist/classifying-yelp-reviews-using-nltk-and-scikit-learn-c58e71e962d9
df = pd.read_csv('yelp.csv')
df.sample()

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
896,MFlkmsxlDloSiEd8SLjnAQ,2012-05-01,AJAd4q49arSXZmaB45KZFA,3,If I could eat a southwestern Caesar salad onc...,review,sPEFql7fLp0oouFxnooGpQ,0,0,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
business_id    10000 non-null object
date           10000 non-null object
review_id      10000 non-null object
stars          10000 non-null int64
text           10000 non-null object
type           10000 non-null object
user_id        10000 non-null object
cool           10000 non-null int64
useful         10000 non-null int64
funny          10000 non-null int64
dtypes: int64(4), object(6)
memory usage: 781.3+ KB

In [4]:
df.type.value_counts()

review    10000
Name: type, dtype: int64

In [9]:
review_df = df[['stars', 'text']]
review_df.stars.value_counts()

4    3526
5    3337
3    1461
2     927
1     749
Name: stars, dtype: int64

In [11]:
df_5s = review_df[review_df.stars==5].sample(500, random_state=23)
df_1s = review_df[review_df.stars==1].sample(500, random_state=23)

In [26]:
df_5_1 = pd.concat([df_5s, df_1s])
df_5_1.sample(4, random_state=23)

      stars                                               text
1904      1  I want to like this place as it is in the neig...
1418      1  So, what kind of place serves chicken fingers ...
5848      5  I love this place. The food is clearly made wi...
208       1  Wednesday 7pm.  This place is your average ove...

In [27]:
df_5_1.to_csv('yelp_reviews.csv', index=False)

In [28]:
!ls -l

total 27656
-rw-r--r--  1 505  staff   468721 Sep 16 12:34 adult_income.csv
-rw-r--r--  1 505  staff  3811650 Sep 16 11:09 adult_income_original.csv
-rw-r--r--  1 505  staff    20940 Sep 17 09:12 mpg.csv
-rw-r--r--  1 505  staff    11663 Sep 17 09:12 prepare_data.ipynb
-rw-r--r--  1 505  staff     7344 Sep 22 10:32 prepare_yelp.ipynb
-rw-r--r--@ 1 505  staff  8091185 Sep 22 10:11 yelp.csv
-rw-r--r--  1 505  staff   728098 Sep 22 10:32 yelp_reviews.csv